@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.socialbtn {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(243 246 246/var(--tw-bg-opacity));
  --tw-gradient-from: #fa5252;
  --tw-gradient-to: rgba(250, 82, 82, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dd2476;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.socialbtn:hover {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.dark .socialbtn {
  --tw-bg-opacity: 1;
  background-color: rgb(33 36 37/var(--tw-bg-opacity))
}

.bg-homeBg {
  background-image: url(/asset/images/bg-st.jpg)
}

.bg-homeBgCT {
  background-image: url(/asset/images/bg-ct.jpg)
}

.after:left-52::after {
  content: var(--tw-content);
  left: 13rem;
}

.after-effect {
  position: relative;
  display: inline-block;
  --tw-gradient-from: #fa5252;
  --tw-gradient-to: rgba(250, 82, 82, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dd2476;
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  background-color: #e9faff;
}

.after-effect,
.after-effect::after {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after-effect::after {
  position: absolute;
  top: 50%;
  height: .125rem;
  --tw-translate-y: -50%;
  border-radius: .375rem;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-content: "";
  content: var(--tw-content);
}

.aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

.shadow-icon {
  --tw-shadow: 0 4px 6px 0px rgba(0, 0, 0, .08);
  --tw-shadow-colored: 0 4px 6px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-oriange {
  --tw-text-opacity: 1;
  color: rgb(233 59 129/var(--tw-text-opacity));
}

.text-oriange-lite {
  --tw-text-opacity: 1;
  color: rgb(253 117 144/var(--tw-text-opacity));
}

.text-green {
  --tw-text-opacity: 1;
  color: rgb(106 181 185/var(--tw-text-opacity));
}

.text-color-50 {
  --tw-text-opacity: 1;
  color: rgb(193 124 235/var(--tw-text-opacity));
}

.bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252/var(--tw-bg-opacity));
}

.bg-color-810 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 251 251/var(--tw-bg-opacity));
}

.rounded-b-2xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
  min-height: 50vh;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.ReactModal__Overlay {
  background-color: rgba(0,0,0,.8) !important;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

/* Estilos del fondo del modal (overlay) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-template-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
  min-height: 50vh;
}

.simple-template-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}